@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    
            <h1>
                Login
            </h1>
      
    <br />
    <form>
        <div class="form-group">
            <h4> <label class="text-right">Email address</label></h4>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <br />
            <h4><label>Password</label></h4>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <p>
            <a class="btn btn-danger">Login</a>
            <a class="btn btn-danger">Create new account</a>
        </p>
    </form>
</div>
